<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Refererer inn lokale bootstrap filer -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script defer src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <!-- MED / i front av adresse tolker browser det til være en absolutt adresse fra PCens root (AI) -->

    <title>Moslått.no</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">
</head>
<!-- Fjern evt height fra body  -->
<body style="height:100vh"> 
    <div>
      <!-- block that could be overwriten when this file is used as template -->
      {% block content %}
        <div class="row">
          <div class="position-relative">
            <div class="position-absolute top-50 start-50 translate-middle text-white text-center">
              <h1 class="display-1 fw-bold">Moslått.no</h1>
            </div>

          <video autoplay loop muted class="background-video object-fit-cover" style="height:100vh">
              <source src="{{ url_for('static', filename='img/video/wood_pile.mp4') }}" type="video/mp4"/>
            </video>
          </div>
        </div>

      {% endblock %}
    </div>

   <script
    type="text/javascript"
    src="{{ url_for('static',filename='index.js' )}}" 
    ></script> 
</body>
</html>